.masthead {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 550px;
  min-height: 350px;
  height: 50vh;
}

.timebox {
  background: radial-gradient(circle at center 35%, rgb(83, 122, 99), rgb(149, 172, 147));
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7%;
  padding-bottom: 5%;
  /* margin-bottom: 0.5em; */
}

.clock-item {
  border-radius: 50%;
  border: 0.4rem white solid;
  background: #ffffff  center no-repeat;
  background-size: 88%;
  height: 9rem;
  position: relative;
  justify-self: center;
  width: 9rem;
}

.clock-item:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4%;
  height: 4%;
  z-index: 10;
}

.minutes-container .hours-container .seconds-container {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  height: 10px;
  width: 10px;
}

.clock-container>* {
  position: absolute;
  top: 50%;
  transform-origin: top center;
}

.hours, .minutes {
  border-radius: 0 0 5px 5px;
}

.seconds {
  border-radius: 5px;
}

.hours {
  left: 48%;
  transform: rotate(180deg);
  height: 30%;
  width: 4%;
  background-color: rgb(65, 65, 65);
  z-index: 3;
}

.minutes {
  left: 48.5%;
  transform: rotate(180deg);
  height: 44%;
  width: 3%;
  background-color: rgb(65, 65, 65);
  z-index: 2;
}

.seconds {
  transform-origin: center 20%;
  top: 38%;
  left: 49.25%;
  transform: rotate(180deg);
  height: 60%;
  width: 1.5%;
  background-color: rgb(65, 65, 65);
  z-index: 1;
}

.bottomsticked {
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
  transition-duration: 0.6s;
}

.bottomsticked>div {
  padding-left: 10px;
  padding-bottom: 10px;
}

.slided {
  transition-duration: 0.6s;
  transform: translate(-85%, 0);
}

.slided:hover {
  /* transition-duration: 0.6s; */
  transform: translate(0, 0);
}

.no-margin {
  margin: 0 0 0 0 !important;
}