.masthead {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 550px;
  min-height: 350px;
  height: 40vh;
}


.timebox {
  background: radial-gradient(circle at center 35%, rgb(83, 122, 99), rgb(149, 172, 147));
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7%;
  padding-bottom: 5%;
  /* margin-bottom: 0.5em; */
}

.clock-item {
  border-radius: 50%;
  border: 0.4rem white solid;
  background: #ffffff url(../Images/ios_clock.svg) center no-repeat;
  background-size: 88%;
  height: 11rem;
  position: relative;
  justify-self: center;
  width: 11rem;
}

.clock-item:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4%;
  height: 4%;
  z-index: 10;
}

.minutes-container .hours-container .seconds-container {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  height: 10px;
  width: 10px;
}

.clock-container>* {
  position: absolute;
  top: 50%;
  transform-origin: top center;

}

.hours {
  left: 48.75%;
  transform: rotate(45deg);
  height: 24%;
  width: 2.5%;
  background-color: black;
}

.minutes {
  left: 49%;
  transform: rotate(80deg);
  height: 35%;
  width: 2%;
  background-color: black;
}

.seconds {
  transform-origin: center 20%;
  top: 40%;
  left: 49.5%;
  transform: rotate(270deg);
  height: 50%;
  width: 1%;
  background-color: black;
}

.bottomsticked {
  z-index: 11;
  position: fixed;
  bottom: 10px;
  left: 5px;
  transition-duration: 0.6s;
}

.bottomsticked>.card.left-moved {
  transform: translate(-90%, 0);
}

.bottomsticked>.card:hover {
  transform: translate(0, 0);
}


.left-slided {
  transition: translate(-200%, 0) ease-in;
  transition-duration: 0.5s;
}